backend/client_secrets.json
backend/.env
backend/credentials.json
backend/support/.DS_Store

client_secrets.json
mycreds.txt

frontend/.env
frontend/.DS_Store

*.pyc
*.DS_Store

credentials.json

.DS_Store

*.env

.vscode