backend/client_secrets.json
client_secrets.json
mycreds.txt
backend/.env
frontend/.env
*.pyc
*.DS_Store
backend/support/.DS_Store
credentials.json
backend/credentials.json
.DS_Store
frontend/.DS_Store
backend/support/.DS_Store
frontend/.DS_Store
