<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Archive Me</title>
  <meta name="description"
    content="This is a landing page from the GitHub repostiory BlackBoard Scraper by TheManWhoLikes to code. This template is from Knight" />

  <!--vendors styles-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />

  <!-- Bootstrap CSS / Color Scheme -->
  <link rel="stylesheet" href="static/default.css" id="theme-color" />
</head>

<body>
  <!--navigation-->
  <section class="smart-scroll">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand heading-black" href="/">
          Archive Me
        </a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
          data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span data-feather="grid"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll d-flex flex-row align-items-center text-primary" href="/demo">
                <em data-feather="layout" width="18" height="18" class="mr-2"></em>
                Try Now
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <!--hero header-->
  <section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
      <div class="row vh-md-100">
        <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
          <h1 class="heading-black text-capitalize">
            So You Don't Have To Do It By Hand
          </h1>
          <p class="lead py-3">
            Archive me is a tool that allows you to archive your courses at
            the end of the term so you don't have to.
          </p>
          <a href="./demo" class="btn btn-primary d-inline-flex flex-row align-items-center">
            Get started now
            <em class="ml-2" data-feather="arrow-right"></em>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- features section -->
  <section class="pt-6 pb-7" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h2 class="heading-black">
            Archive Me offers everything you need.
          </h2>
          <p class="text-muted lead">
            Archive Me is a comprehensive tool that provides all the features
            you need to efficiently archive your courses at the end of the
            term.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-10 mx-auto">
          <div class="row feature-boxes">
            <div class="col-md-6 box">
              <div class="icon-box box-primary">
                <div class="icon-box-inner">
                  <span data-feather="book" width="35" height="35"></span>
                </div>
              </div>
              <h5>Efficient Archiving</h5>
              <p class="text-muted">
                Blackboard Scrapper enables Kettering University students to
                efficiently archive course materials and grades from
                Blackboard for easy management and long-term reference.
              </p>
            </div>
            <div class="col-md-6 box">
              <div class="icon-box box-success">
                <div class="icon-box-inner">
                  <span data-feather="download" width="35" height="35"></span>
                </div>
              </div>
              <h5>Course Content Download</h5>
              <p class="text-muted">
                With a simple click, download all available course content
                including documents and presentations directly from
                Blackboard.
              </p>
            </div>
            <div class="col-md-6 box">
              <div class="icon-box box-danger">
                <div class="icon-box-inner">
                  <span data-feather="star" width="35" height="35"></span>
                </div>
              </div>
              <h5>Grade Retrieval</h5>
              <p class="text-muted">
                Retrieve grades for each assignment and generate a detailed
                HTML report, making it easier to track academic progress.
              </p>
            </div>
            <div class="col-md-6 box">
              <div class="icon-box box-info">
                <div class="icon-box-inner">
                  <span data-feather="shield" width="35" height="35"></span>
                </div>
              </div>
              <h5>Secure and Reliable</h5>
              <p class="text-muted">
                Built with security in mind, Blackboard Scrapper ensures safe
                and reliable access to your educational data.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-md-6 mr-auto">
          <h2>Revolutionize Your Learning Experience</h2>
          <p class="mb-5">
            ArchiveMe, exclusively designed for Kettering University students, provides an efficient and user-friendly
            approach to managing and organizing course materials. This innovative tool automates the extraction of
            educational content from Blackboard, facilitating easy and continuous access to these vital resources. With
            ArchiveMe, students can effortlessly retrieve and organize their course materials, ensuring they remain
            available and accessible long after the term has ended, enhancing their learning experience and academic
            organization
          </p>
          <a href="#" class="btn btn-light"> Try the live demo </a>
        </div>
        <div class="col-md-5">
          <div class="slick-about">
            <img src="static/Flask.png" class="img-fluid rounded d-block mx-auto" alt="Work 1" />
            <img src="static/Selenium.png" class="img-fluid rounded d-block mx-auto" alt="Work 2" />
            <img src="static/BeautifulSoup.png" class="img-fluid rounded d-block mx-auto" alt="Work 3" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--pricing section-->
  <section class="py-7 bg-dark section-angle top-right bottom-right" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h2 class="text-white heading-black">Our Pricing Plan</h2>
          <p class="text-light lead">Enjoy full access, completely free</p>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-12 mx-auto">
          <div class="card">
            <div class="card-body text-center">
              <h3 class="card-title pt-3">Free Plan</h3>
              <h2 class="card-title text-primary mb-0 pt-4">$0</h2>
              <div class="text-muted font-weight-medium mt-2">forever</div>
              <ul class="list-unstyled pricing-list">
                <li>Access to all features</li>
                <li>Unlimited usage</li>
                <li>No hidden charges</li>
                <li>Community support</li>
              </ul>
              <a href="#" class="btn btn-primary"> Get Started For Free </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-md-8 col-12 mx-auto text-center">
          <h3>Everything you need, all for free</h3>
          <p class="lead">
            This is college project of mine completely free to use. I hope you
            enjoy it. Feel free to contact me if you have any questions.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--faq section-->
  <section class="py-7" id="faq">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h2>Frequently Asked Questions</h2>
          <p class="text-muted lead">Answers to most common questions.</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-10 mx-auto">
          <div class="row">
            <div class="col-md-6 mb-5">
              <h6>Is the service really free?</h6>
              <p class="text-muted">
                Yes, this service is completely free. There are no hidden
                costs or fees, and you get full access to all features without
                any charges.
              </p>
            </div>
            <div class="col-md-6 mb-5">
              <h6>How do you handle login information?</h6>
              <p class="text-muted">
                Your login information is encrypted on the front end. We only
                pass a hashed password to our backend for security. This
                hashed password is then used to facilitate secure access to
                third-party services like Blackboard.
              </p>
            </div>
            <div class="col-md-6 mb-5">
              <h6>How often do you release updates?</h6>
              <p class="text-muted">
                I update this project as I find passion for it. So far I've
                updated this project once a year. Feel free to message me if
                you have any feedback or features you want added.
              </p>
            </div>
            <div class="col-md-6 mb-5">
              <h6>What about data privacy and security?</h6>
              <p class="text-muted">
                We take data privacy and security very seriously. Our systems
                are designed with robust security measures to protect your
                information and ensure confidentiality.
              </p>
            </div>
            <div class="col-md-6 mb-5">
              <h6>How can I provide feedback or suggestions?</h6>
              <p class="text-muted">
                We welcome feedback and suggestions from our users. Please
                feel free to contact us through our support or feedback
                channels to share your thoughts.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6 mx-auto text-center">
          <h5 class="mb-4">Have more questions?</h5>
          <a href="mailto:JaydinFreemanWork@gmail.com" class="btn btn-primary">Contact us</a>
        </div>
      </div>
    </div>
  </section>

  <!--footer-->
  <footer class="py-6">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 mr-auto">
          <h5>About Archive Me</h5>
          <p class="text-muted">
            Archive Me is a platform that allows you to securely store and
            organize your digital files. With Archive Me, you can easily
            manage your documents, photos, videos, and more. Our advanced
            encryption ensures the privacy and security of your data.
            Experience the convenience and peace of mind with Archive Me.
          </p>
          <ul class="list-inline social social-sm">
            <li class="list-inline-item">
              <a href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-dribbble"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Refund policy</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>Partner</h5>
          <ul class="list-unstyled">
            <li><a href="#">Refer a friend</a></li>
            <li><a href="#">Affiliates</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li><a href="#">Support</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 text-muted text-center small-xl">
          &copy; 2023 TheManWhoLikesToCode | Archive Me - All Rights Reserved
        </div>
      </div>
    </div>
  </footer>

  <!--scroll to top-->
  <div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>

  <!-- theme switcher (FOR DEMO ONLY - REMOVE FROM PRODUCTION)-->
  <div class="switcher-wrap">
    <div class="switcher-trigger">
      <span class="fa fa-gear"></span>
    </div>
    <div class="color-switcher">
      <h6>Color Switcher</h6>
      <ul class="mt-3 clearfix">
        <li class="bg-teal active" data-color="default" title="Default Teal"></li>
        <li class="bg-purple" data-color="purple" title="Purple"></li>
        <li class="bg-blue" data-color="blue" title="Blue"></li>
        <li class="bg-red" data-color="red" title="Red"></li>
        <li class="bg-green" data-color="green" title="Green"></li>
        <li class="bg-indigo" data-color="indigo" title="Indigo"></li>
        <li class="bg-orange" data-color="orange" title="Orange"></li>
        <li class="bg-cyan" data-color="cyan" title="Cyan"></li>
        <li class="bg-yellow" data-color="yellow" title="Yellow"></li>
        <li class="bg-pink" data-color="pink" title="Pink"></li>
      </ul>
      <p>Feel free to change the <b>color</b> scheme of the template.</p>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="static/scripts.js"></script>
</body>

</html>